*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.team-members{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 5%;
}
.team-members h2{
    font-size: 40px;
    margin-bottom: 25px;
}
.members{
    width: 30%;
    box-shadow: 0px 0px 10px;
    background-color: gainsboro;
    float:left;
    margin: 0 auto;
    margin-left:30px;
    border-radius: 10px;
}
.members img{
    padding:20px;
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
    
}
.member-content{
    padding: 20px;
    text-align:justify;
    margin-bottom: 20px;
}
.member-content h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.member-content p{
    font-size: 20px;
}